{% extends 'layouts/base.html' %}

{% block content %}

<div class="header-container">
    <h1 class="title">Gestión de Reclamos</h1>

    <button class="add-button" onclick="location.href='/claim/add'">Nuevo Reclamo</button>
</div>
<hr>

<table class="order-table">
    <tr>
        <th>Orden</th>
        <th>Tipo de reclamo</th>
        <th>Descripcion</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha</th>
    </tr>

    {% for p in claims %}

    <tr>
        <td>{{p.Orden}}</td>
        <td>{{p.Tipo_de_reclamo}}</td>
        <td>{{p.Descripcion_de_reclamo}}</td>
        <td>{{p.Nombre}}</td>
        <td>{{p.Correo}}</td>
        <td>{{p.Fecha}}</td>
        <td><button class="edit-button">Gestionar</button></td>

    </tr>
    
    {% endfor %}

</table>

{%endblock%}