{% extends 'layouts/base.html' %}
{% block content %}
<script>
    function getBarcode() {
        var order_id = "{{ order }}"
        if ("{{ order.order_id }}" != "") {
            var order_id = "{{ order.order_id }}"
        }
        var barcode = document.getElementById("barcode").value;
        if (order_id != "0") {
            window.location.href = `/order/order_id=${order_id}/product=${barcode}`;
        }else {
            window.location.href = `/order/product=${barcode}`;
        }
    }

    function confirmOrder(){
        var order_id = "{{ order }}"
        if (order_id != "0") {
            order_id = "{{order.order_id}}"
            window.location.href = `/order/order_id=${order_id}/confirm`;
        }else {
            window.location.href = `/order`;
        }
    }

    function cancelOrder(){
        var order_id = "{{ order }}"
        if (order_id != "0") {
            order_id = "{{order.order_id}}"
            window.location.href = `/order/order_id=${order_id}/cancel`;
        }else {
            window.location.href = `/order`;
        }
    }

</script>
<div style="display: flex; justify-content: space-between;">
    {% if order == "0" %}
        <h1>Nueva Orden</h1>
    {% else %}
        <h1>Orden N°{{ order.order_id }}</h1>
        {% if order.status == "En proceso" %}
            <h3 style="color: orange;">{{ order.status }}</h3>
        {% elif order.status == "Confirmado" %}
            <h3 style="color: aquamarine;">{{ order.status }}</h3>
        {% elif order.status == "Pagado" %}
            <h3 style="color: blue;">{{ order.status }}</h3>
        {% elif order.status == "Entregado" %}
            <h3 style="color: greenyellow;">{{ order.status }}</h3>
        {% else %}
            <h3 style="color: red;">{{ order.status }}</h3>
        {% endif %}
    {% endif %}
</div>
<label for="barcode">Código</label>
<input type="hidden" name="order" value="{{ order.order_id }}">
<input type="text" id="barcode" name="barcode" autofocus>
<button onclick="getBarcode()">Ver</button>
<hr>
<table class="order-table">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    {% for p in order_products %}
        <tr>
            <td>{{ p.product.barcode }}</td>
            <td>{{ p.product.name }}</td>
            <td>{{ p.product.price }}</td>
            <td>{{ p.quantity }}</td>
        </tr>
    {% endfor %}
</table>
<hr>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Total: ${{ total }}</h2>
    <div>
        {% if order.status == "Anulado" %}
            <button onclick="cancelOrder()" disabled>Anular</button>
            <button onclick="confirmOrder()" disabled>Confirmar</button>
        {% else %}
            <button onclick="cancelOrder()">Anular</button>
            <button onclick="confirmOrder()">Confirmar</button>
        {% endif %}
    </div>
</div>



{% endblock %}